In [20]:
from datetime import datetime

Date = "/Date1580797757270/"
Date = Date[5:18]

Date

'1580797757270'

In [32]:
import datetime
print(datetime.datetime.fromtimestamp(int("1649275926476")/1000)
      .strftime('%Y-%m-%d %H:%M:%S'))

2022-04-07 01:42:06

In [22]:
dict = {'key1': 'geeks', 'key2': 'fill_me'}
print("Current Dict is: "
  , dict)
 
# using the subscript notation
# Dictionary_Name[New_Key_Name] = New_Key_Value
dict['key2'] = 'for'
dict['key3'] = 'geeks'
print("Updated Dict is:"
  , dict)

Current Dict is:  {'key1': 'geeks', 'key2': 'fill_me'}
Updated Dict is: {'key1': 'geeks', 'key2': 'for', 'key3': 'geeks'}

In [24]:
import pandas as pd
list_response = {'API_Id':'API_Value'}
list_response['X'] = 'X1'
list_response['Y'] = 'Y1'
# list_response['API_Value'] = 'Y_Value'
# df_apis_metadata = pd.DataFrame(list_response)
# df_apis_metadata
list_response

{'API_Id': 'API_Value', 'X': 'X1', 'Y': 'Y1'}

In [26]:
df = pd.DataFrame(list(list_response.items()))
df

        0          1
0  API_Id  API_Value
1       X         X1
2       Y         Y1

In [30]:
list_response.keys()

dict_keys(['API_Id', 'X', 'Y'])

In [28]:
list_response.values()

dict_values(['API_Value', 'X1', 'Y1'])

In [31]:
details = {
    'Name' : list_response.keys(),
    'Age' : list_response.values(),
   }
  
# creating a Dataframe object 
df = pd.DataFrame(details)
  
df

     Name        Age
0  API_Id  API_Value
1       X         X1
2       Y         Y1